version: '3.8'

services:
  questions_answers:
    container_name: questions_answers
    build:
      context: .
      dockerfile: ./build/app.Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - "postgres"

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: Questions
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - db_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d mydatabase"]
      interval: 30s
      timeout: 10s
      retries: 3
    env_file:
      - .env

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "8078:80"
    networks:
      - db_network
    depends_on:
      - postgres
    env_file:
      - .env

volumes:
  postgres_data:

networks:
  db_network:
    driver: bridge